@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Grenze+Gotisch:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Bellefair&family=Josefin+Slab:wght@400;600&display=swap");

body {
  font-family: "Josefin Slab", serif;
  color: white;
  font-weight: 300;
  background: #0e1b2e;
  width: 100%;
  height: 100%;
}

.overlay {
  background: #0e1b2e;
}

h1,
h3 {
  color: white;
}

h2,
h6 {
  color: #29b6f6;
}

h4 {
  color: #62cdff;
}

h5 {
  color: #00ffff;
}

.card-login {
  padding: 20px 0;
  position: relative;
  text-align: center;
  max-width: 400px;
  border-radius: 20px;
  margin: 0 auto;
  vertical-align: middle;
}

.loginButton {
  width: 100%;
}

.card-img-overlay h5 {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

header {
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.login {
  color: #74dfff;
  text-decoration: none !important;
  padding: 8px 16px;
  font-family: "Architects Daughter", cursive;
  letter-spacing: 1.5px;

}

.login:hover span {
  transition: all ease 500ms;
  padding: 8px 24px;
  color: #0e1b2e;
  background-color: #e2fdff;
  border-radius: 3px;
}

.navbar {
  font-family: "Bellefair", serif;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-bottom: .2px solid #00ffff;
}

.planner h4 {
  color: #00ffff;
}

.planner:hover {
  text-decoration: none;
}

.planner h4:hover {
  color: rgb(184, 207, 205);
  animation: example 5s infinite;
}

@keyframes example {
  0% {
    color: rgb(196, 152, 255);
  }

  20% {
    color: rgb(0, 174, 255);
  }

  40% {
    color: cyan;
  }

  80% {
    color: rgb(248, 172, 248);
  }

  100% {
    color: rgb(205, 152, 255);
  }
}

.nav-link {
  color: #d2e4ec;
}

.navBar .nav-link:hover {
  color: #0e1b2e;
  background-color: #95f6ff;
  border-radius: 3px;
  padding-top: 6px;
  transition: all ease 500ms;
}

.card-footer:hover {
  color: #9cdaf7;
}

.container {
  padding: 10px 0;
  text-align: center;
}

.home-container {
  height: 500px;
  /* background-image: repeating-linear-gradient(449deg, rgb(14, 27, 46) 0px, transparent 7px, rgb(14, 27, 46) 12px, transparent 19px, rgb(14, 27, 46) 24px, transparent 31px, rgb(14, 27, 46) 36px),
    repeating-linear-gradient(199deg, rgb(14, 27, 46) 0px, transparent 7px, rgb(14, 27, 46) 12px, transparent 19px, rgb(14, 27, 46) 24px, transparent 31px, rgb(14, 27, 46) 36px),
    repeating-linear-gradient(156deg, rgb(14, 27, 46) 0px, transparent 7px, rgb(14, 27, 46) 12px, transparent 19px, rgb(14, 27, 46) 24px, transparent 31px, rgb(14, 27, 46) 36px),
    linear-gradient(246deg, rgb(2, 75, 134), rgb(2, 75, 134)); */

  background-image: radial-gradient(circle at top left,
      rgba(25, 73, 156, 0.5) 0%,
      rgb(25, 72, 156, 0.5) 5%,
      rgb(37, 91, 169, 0.5) 5%,
      rgb(37, 91, 169, 0.5) 10%,
      rgb(64, 107, 156, 0.5) 10%,
      rgb(42, 103, 173, 0.5) 15%,
      rgb(24, 89, 152, 0.5) 15%,
      rgb(24, 89, 152, 0.5) 20%,
      rgb(19, 72, 117, 0.5) 20%,
      rgb(19, 72, 117, 0.5) 25%,
      rgb(5, 53, 89, 0.5) 25%,
      rgb(5, 53, 89, 0.5) 30%,
      rgb(8, 43, 69, 0.5) 30%,
      rgb(8, 43, 69, 0.5) 35%,
      rgb(10, 32, 50, 0.5) 35%,
      rgb(10, 32, 50, 0.5) 100%);
  text-align: center;
}

.budget-card {
  background-color: transparent !important;
  padding-top: 27px;
  margin: auto auto 25px auto;
  width: 75%;
}

.watchList-card {
  background-color: transparent !important;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: auto auto 25px auto;
  width: 75%;
}

thead {
  color: #29b6f6;
  font-size: large;
}

tbody {
  color: rgb(0, 255, 234);
}

.container-size {
  margin-top: 50px;
  padding: 10px 0;
  text-align: center;
  width: 60%;
  margin: 100px auto auto auto;
}

.what {
  color: #b2ccdd;
  font-family: "Alfa Slab One", cursive;
}

.wallet {
  color: #72aed6;
  text-transform: uppercase;
}

.box:hover {
  transition: all ease 500ms;
  transform: scale(1.05);
}

footer {
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(222deg,
      rgba(163, 163, 163, 0.09) 0%,
      rgba(163, 163, 163, 0.09) 33.3%,
      rgba(100, 100, 100, 0.09) 33.3%,
      rgba(100, 100, 100, 0.09) 66.6%,
      rgba(162, 162, 162, 0.09) 66.6%,
      rgba(162, 162, 162, 0.09) 99%),
    linear-gradient(352deg,
      rgba(193, 193, 193, 0.06) 0%,
      rgba(193, 193, 193, 0.06) 33.3%,
      rgba(169, 169, 169, 0.06) 33.3%,
      rgba(169, 169, 169, 0.06) 66.6%,
      rgba(92, 92, 92, 0.06) 66.6%,
      rgba(92, 92, 92, 0.06) 99%),
    linear-gradient(146deg,
      rgba(45, 45, 45, 0.03) 0%,
      rgba(45, 45, 45, 0.03) 33.3%,
      rgba(223, 223, 223, 0.03) 33.3%,
      rgba(223, 223, 223, 0.03) 66.6%,
      rgba(173, 173, 173, 0.03) 66.6%,
      rgba(173, 173, 173, 0.03) 99%),
    linear-gradient(374deg,
      rgba(226, 226, 226, 0.06) 0%,
      rgba(226, 226, 226, 0.06) 33.3%,
      rgba(81, 81, 81, 0.06) 33.3%,
      rgba(81, 81, 81, 0.06) 66.6%,
      rgba(186, 186, 186, 0.06) 66.6%,
      rgba(186, 186, 186, 0.06) 99%),
    linear-gradient(179deg,
      rgba(225, 225, 225, 0.04) 0%,
      rgba(225, 225, 225, 0.04) 33.3%,
      rgba(95, 95, 95, 0.04) 33.3%,
      rgba(95, 95, 95, 0.04) 66.6%,
      rgba(39, 39, 39, 0.04) 66.6%,
      rgba(39, 39, 39, 0.04) 99%),
    linear-gradient(223deg,
      rgba(184, 184, 184, 0.06) 0%,
      rgba(184, 184, 184, 0.06) 33.3%,
      rgba(0, 0, 0, 0.06) 33.3%,
      rgba(0, 0, 0, 0.06) 66.6%,
      rgba(140, 140, 140, 0.06) 66.6%,
      rgba(140, 140, 140, 0.06) 99.89999999999999%),
    linear-gradient(417deg,
      rgba(40, 40, 40, 0.07) 0%,
      rgba(40, 40, 40, 0.07) 33.3%,
      rgba(214, 214, 214, 0.07) 33.3%,
      rgba(214, 214, 214, 0.07) 66.6%,
      rgba(190, 190, 190, 0.07) 66.6%,
      rgba(190, 190, 190, 0.07) 99.89999999999999%),
    linear-gradient(155deg,
      rgba(230, 230, 230, 0) 0%,
      rgba(230, 230, 230, 0) 33.3%,
      rgba(241, 241, 241, 0) 33.3%,
      rgba(241, 241, 241, 0) 66.6%,
      rgba(55, 55, 55, 0) 66.6%,
      rgba(55, 55, 55, 0) 99%),
    linear-gradient(94deg, rgb(0, 79, 116), rgb(14, 27, 46));
  opacity: 0.65;
  padding: 5px;
}

footer p {
  color: #ddd;
  margin-top: 10px;
}

form {
  padding: 20px 0;
  position: relative;
  text-align: center;
  max-width: 550px;
  border-radius: 20px;
  margin: 0 auto;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.homeImg {
  width: 350px;
  height: 300px;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: white;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

.todo-button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #29b6f6;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

.form-area {
  position: relative;
  width: 350px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

.input-area {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}